<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="HOUSE RENTAL SYSTEM" />
    <meta name="keywords" content="Give Your Keywords for SEO" />
    
    <title>HOUSE RENTAL SYSTEM</title>

    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>

    <header class="header">
        <div class="wrapper">
            <h1>HOUSE RENTAL SYSTEM</h1>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">

            <div class="booking-details">
                <h3>Log In</h3>
                <form method="POST" action="/login">
                    <span class="name">Email</span>
                    <input type="text" name="email" placeholder="Email Please" required /><br />
                    
                    <span class="name">Password</span>
                    <input type="password" name="password" placeholder="Password Please" required /><br />
                    
                    <button style="background-color: green; color: white; width: 80px; height: 40px;" type="submit">Log In</button>
                    <a href="/signup">Sign up</a>
                </form>
            </div>
        </div>
    </div>
    <script>
      const form = document.querySelector('form');

form.addEventListener('submit', async (e) => {
    e.preventDefault(); 

    const email = form.email.value;
    const password = form.password.value;

    try {
        const res = await fetch('/login', {
            method: 'POST',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' }
        });

        const data = await res.json();
        console.log(data);
        if(data){
            location.assign('/')
        }
    } catch (error) {
        console.log(error);
    }
}); // Correct placement of closing parenthesis


    </script>
</body>
</html>